# Windows
Thumbs.db
Desktop.ini

# VS / IDEs
.vs/
.vscode/
.idea/
*.iml/

# iOS/macOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/build/
macos/Pods/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.symlinks/
macos/build/
# Android
android/.gradle/
android/app/build/
*.keystore
*.jks

# Build outputs
build/

# Flutter/Dart
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies

# .NET (si aplica)
bin/
obj/
*.user
*.suo

# SQL Server / backups
*.mdf
*.ldf
*.ndf
*.bak
*.trn
*.dacpac
*.bacpac

# Logs y temporales
*.log
*.tmp

# Node (si aplica)
node_modules/
dist/


# Otros
.metadata